{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <!-- custom tabela iz pythona -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Dokumenti, ki še nimajo treh zahtevkov</strong></h3>
            <hr>
            <div class="table-responsive">
                <table id="tab_all_docs" class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID dokumenta <!--<span class="glyphicon glyphicon-triangle-bottom"></span>--></th>
                        <th>N# zahtevkov</th>
                        <th>Pošlji</th>
                    </tr>
                    </thead>
                    <form class="form-horizontal" method="post" action="/docs">{% csrf_token %}
                        <tbody>
                        {% for doc in doc_list %}
                        {% if doc.doccount < 3 %}
                        <tr>
                            <td>{{ doc.docname }}</td>
                            <td>{{ doc.doccount }}</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm btn-block", name="clickedDocName"
                                        value="{{ doc.docname }}" data-toggle="modal" data-target="#email_modal">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>
    {% if sending_error %}
    <p>{{ sending_error }}</p>
    {% endif %}
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Moji poslani zahtevki</strong></h3>
            <hr>
            <div class="table-responsive">
                <table id="tab_user_requests" class="table table-hover">
                    <thead>
                    <tr>
                        <th>ID dokumenta</th>
                        <th>Datum zahtevka</th>
                        <!-- TODO: dodaj link za upload dokumenta -->
                    </tr>
                    </thead>
                    <form class="form-horizontal" method="post" action="/docs">{% csrf_token %}
                        <tbody>
                        {% for doc in user_docs %}
                        <tr>
                            <td>{{ doc.docid.docname }}</td>
                            <td>{{ doc.datumtime }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </form>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
