{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block content %}

{% if passto == None %}
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Zadeve, ki so na voljo:</strong></h3>
            <hr>
            S klikom na rdeč gumb pošlješ zahtevo za dostop do informacije javnega značaja.
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }}" {% endif %}>{{ message }}</div>
            {% endfor %}
            {% endif %}
            <div class="table-responsive">
                <form class="form-horizontal" method="post" action="/docs">
                    {% csrf_token %}
                    <table id="table_id" class="table display">
                        <thead>
                        <tr>
                            <th>ID dokumenta</th>
                            <th>Pošlji</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% csrf_token %}
                        {% for doc in doc_list %}
                        {% if doc.doccount < 3 %}
                        <tr>
                            <td>{{ doc.docname }}</td>
                            <td>
                                <button type="submit" class="btn btn-danger btn-sm btn-block" name="clickedDocName"
                                        value="{{ doc.docname }}">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                </button>
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
    {% if sending_error %}
    <p>{{ sending_error }}</p>
    {% endif %}

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Moji poslani zahtevki</strong></h3>
            <hr>
            <div class="table-responsive">
                <table id="table_id_myactivity" class="table display">
                    <thead>
                    <tr>
                        <th>ID dokumenta</th>
                        <th>Datum zahtevka</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for doc in user_docs %}
                    <tr>
                        <td>{{ doc.docid.docname }}</td>
                        <td>{{ doc.datumtime|date:"d.n.Y @ H:i:s" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <!-- custom tabela iz pythona -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h2>Naslov uporabnika <a href="/settings">v nastavitvah</a> še ni vnešen.</h2>
        </div>
    </div>
</div>
{% endif %}
<!-- end testni DataTable -->
{% endblock content %}
