{% extends 'frontend/base.html' %}
{% load staticfiles %}
{% block content %}

<div class="container">
    <!--<div class="row">-->
    <div class="jumbotron">
        <div class="text-justify">
            <p>
                <img src="/static/frontend/images/Kurc%2C%20primary%20logo.svg" width="163" height="175" alt="logo"
                     style="margin: 15px 15px 0 15px;"
                     class="img-responsive pull-left"> Od Inšpektorata Republike Slovenije za notranje
                zadeve sem poskusil pridobiti zapisnike inšpekcijskih nadzorov strelišč (informacije javnega značaja),
                na podlagi katerih so izvedli analizo stanja strelišč v Sloveniji. Besedo analiza uporabim v najbolj
                ohlapnem možnem pomenu besede. Na podlagi te analize so podali predlog spremembe <a
                    href="http://pisrs.si/Pis.web/pregledPredpisa?id=ZAKO1440"
                    target="_blank">Zakona o orožju</a> (najdeš med Poslani dokumenti). Te spremembe so katastrofalne za
                strelstvo v Sloveniji, zato je potrebno ukrepati. Eden od korakov je pregledati zapisnike nadzorov
                strelišč,
                saj je po mojem mnenju analiza slaba. Inšpektorat mi noče poslati zapisnikov brezplačno, pa bi po
                <a
                        href="http://pisrs.si/Pis.web/pregledPredpisa?id=ZAKO3336">Zakonu o dostopanju do informacij
                    javnega značaja
                </a> moral. Z inšpektoratom se strinja tudi Informacijski pooblaščenec na katerega odločbo ni ugovora.
                Tako mi je ostala tožba ali pa moč množice. Če nočejo posredovati informacij enemu naslovniku, naj
                pa posredujejo stotinam -- <cite>kjer prideš na vrsto ti</cite>.
            </p>
            <p> Ta aplikacija omogoča, da namesto pisanja e-mailov, na preprost način zahtevaš zaključni dokument zadeve
                (informacije javnega značaja), ki je vodena pod svojo številko. Na seznamu so le tiste zadeve, ki se
                tičejo inšpekcijskih nadzorov in so v katalogu zadev vodene pod
                <a href="http://www.arhiv.gov.si/fileadmin/arhiv.gov.si/pageuploads/zakonodaja/Pravilnik_DRHDGJU.pdf">
                    klasifikacijskim znakom 06 in 061</a>.
                Da te organ ne bo označil za t.i. <cite>persona non grata</cite>, poskusite biti čim manj nadležen,
                zanašajmo
                se na moč množice. Poskusi s taktiko:
            </p>
            <p>&emsp; &emsp; &emsp; <span class="glyphicon glyphicon-warning-sign text-danger"></span> Bodi skromen,
                zahtevaj
                le nekaj zadev na enkrat (1-2 na dan).
            </p>
            <p>&emsp; &emsp; &emsp; <span class="glyphicon glyphicon-warning-sign text-danger"></span> Oddaj ne več kot
                1-2 zahtevi na teden.
            </p>
            <p>
                Organ je po zakonu primoran dokumente, ki so zahtevani s strani treh različnih oseb, objaviti na spletu.
                Ker bodo verjetno prej leteli prašiči, omogoča ta aplikacija, da posreduješ prejete dokumente
                (<a href="/docs">Prejeti dokumenti</a>) neposredno meni in vsem, ki so se registrirali na tej strani.
                Registracija je sila preprosta z računom Google (morate imati vklopljeno aplikacijo GMail). Potrebno je
                le dovoliti, da aplikacija dostopa do vašega e-mail naslova in imena/priimka. Aplikacija
                bo pošiljala elektronska sporočila preko vašega GMail računa. Poslana sporočila lahko najdete kar v mapi
                "Poslano" (angl. "Sent").
            </p>
        </div>
        <!--</div>-->
    </div>
    <!-- end jumbotron-->
    <div class="row"> &nbsp; </div>
    {% if user and user.is_anonymous %}
    <div class="row">
        <div class="col-lg-5 col-lg-offset-4 col-md-12">
            <button type="button" class="btn btn-lg btn-primary btn-block center-block"
                    onClick="window.location.href='{% url 'social:begin' 'google-oauth2' %}?next=/docs'">
                <span style="font-size:30px;"> Vpis z GMail računom</span></button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            {% endif %}
            <div class="row"> &nbsp; </div>
            <h6>Dolga verzija:</h6>
            <p class="text-justify text-muted">
                Inšpektorat RS za notranje zadeve (pod okriljem Ministrstva za notranje zadeve) ima pooblastila, da
                izvaja kontrolo nad strelišči,
                kot jih opredeljuje 50. člen Zakona o orožju. To vključuje tudi strelišča, ki jih uporabljajo društva
                in fizične osebe. Za ta strelišča je potrebno zemljišče primerno urediti in izvajati streljanje skladno
                s 1. členom prej omenjenega zakona in podrejenimi pravilniki izvajati streljanje.
            </p>
            <p class="text-justify text-muted">
                Ministrstvo za notranje zadeve je zato v letu 2015 izdalo osnutek predloga Zakona o orožju, da bi uredil
                problematiko strelišč
                v Sloveniji. K sodelovanju so povabili peščico športnih strelskih zvez in Lovsko zvezo Slovenije (LZS),
                nekaj strelskih zvez pa je "smuknilo" v delovno skupino tik pred zdajci. Javnega poziva ni bilo. Kot
                posamezniki, ki streljamo na zasebnih parcelah skladno z Zakonom o orožju, in se nas te spremembe
                neposredno
                dotikajo, tako nismo imel niti možnosti zastopati naših interesov v delovanju te skupine. So bili
                vabljeni
                pa tisti, ki jih naše streljanje moti.
            </p>
            <p class="text-justify text-muted">
                V zadnjih 5 letih (kaj so delali prej ne povedo, imamo pa divje teorije) je bilo po podatkih IRSNZ na
                območju Republike Slovenije
                izvedenih 66 nadzorov. To številko je potrebno postaviti v kontekst, saj je v Sloveniji več 100 strelišč
                (ocenjujejo na 399), že samo v sklopu streljanja, ki ga izvajajo lovske družine (LD, to so pravno
                formalno
                društva). Koliko je ostalih ("nas privatnikov") na MNZ niti ugibajo ne, tako da niti ne povedo koliko
                in katere ljudi bi te spremembe prizadele.
            </p>
            <p class="text-justify text-muted">
                Po več pismih, ki sem jih naslovil na MNZ (ministrico) in IRSNZ, zadovoljivega odgovora na težka
                vprašanja glede skropocala,
                ki mu pravijo "analiza stanja", nisem dobil. Tudi kolegi strelci, ki so pisarili (in se udeleževali
                sestankov,
                ki so bili sklicani samo zato, ker so bili dovolj vztrajni), so bili odrinjeni na stran brez dobrih
                argumentov.
                Od MNZ-ja sem večkrat zahteval informacije, ki so jih dolžni posredovati skladno z Zakonom o dostopanju
                do informacij javnega značaja. V nekaterih primerih odgovora sploh nisem dobil, nakar sem zahteval od
                Informacijega pooblaščenca, da urgira. No, potem se je premaknilo, vendar dokumentov še vedno nisem
                dobil,
                saj sem dobil že večkrat viden dokument, ki ne odgovori na nobeno vprašanje, kvečemu odpre nova.
                Inšpekcija
                za javno upravo pa se z vsebinskimi zadevami ne ukvarja.
            </p>
            <p class="text-justify text-muted">
                Ker je bila mera polna, sem si zaželel, da bi vse dokumente na temo inšpekcijskih nadzorov rad prebral
                sam, saj od ministrstva
                ni za pričakovati, da bi od sebe dali karkoli kvalitetnega ali, bog ne daj, relevantnega. Tako sem
                zahteval,
                da mi pošljejo vse zapisnike inšpekcijskih nadzorov za leta 2010, 2011, 2012, 2013, 2014 in 2015. Po
                daljši korespondenci smo prišli do neprehodne točke, saj na ministrstvu vztrajajo, da mi lahko za
                skeniranje
                zaračunajo (želeli so 400 EUR predujma, koliko bi bila pa končna cena pa sploh niso upali ugibati), jaz
                pa sem vztrajal, da je zakon jasen, da mi lahko zaračunajo le materialne stroške. Ker pri skeniranju
                dokumentov materialnih stroškov ni, so moje zahteve torej brezplačne. Z mano se Informacijski
                pooblaščenec
                ni strinjal in je stopil na stran MNZ-ja, češ, da je to zelo zahtevno delo, za katerega bi se porabilo
                veliko časa. Kar pa mene kot davkoplačevalca ne zanima, če organ nima urejenega informacijskega sistema,
                ki bi lahko preprosto posredoval informacije javnega značaja, ki nastanejo s financiranjem iz javne
                blagajne.
                Ker do dokumentov, iz katerih bi bilo mogoče razbrati resnično problematiko, ki se domnevno tiče
                strelišč
                nisem uspel priti po normalni poti, se obračam na vse simpatizerje, ki so pripravljeni pomagati. Po že
                večkrat omenjenem zakonu je organ dolžan vsako informacijo javnega značaja, ki je bila zahtevana
                trikrat,
                objaviti na spletu.
            </p>
            <p class="text-justify text-muted">
                Tu pride na vrsto naša moč množice. Če vsak dokument zahtevamo trije posamezniki, je Ministrstvo dolžno,
                da ga objavi na
                spletu. To lahko storite preko elektronske (ali navadne) pošte. Da je postopek lažji, vam pričujoča
                aplikacija
                omogoča, da zahtevate kateregakoli od 126000 (ja, sto šestindvajset tisoč) dokumentov z enim klikom.
                Elektronsko sporočilo bo poslano z vašega GMail računa in ga lahko celo vidite v "Poslano".
            </p>
            <p class="text-justify text-muted">
                Roman Luštrik
            </p>
        </div>
    </div>
</div>
{% endblock content %}