{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
    <!-- custom tabela iz pythona -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Vse zahtevane zadeve</strong></h3>
            <hr>
            <div class="table-responsive">
                {% csrf_token %}
                <table id="table_id" class="table display">
                    <thead>
                    <tr>
                        <th>ID zadeve <!--<span class="glyphicon glyphicon-triangle-bottom"></span>--></th>
                        <th>N# zahtevkov</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {% for doc in all_req_docs %}
                    <tr>
                        <td>{{ doc.docname }}</td>
                        <td>{{ doc.doccount }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Aktivnost</strong></h3>
            <hr>
            <div class="table-responsive">
                {% csrf_token %}
                <table id="table_id_activity" class="table display">
                    <thead>
                    <tr>
                        <th>ID zadeve</th>
                        <th>Uporabnik</th>
                        <th>Datum zahtevka</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% csrf_token %}
                    {% for doc in activity_docs %}
                    <tr>
                        <td>{{ doc.docid.docname }}</td>
                        <!-- <td>{{ doc.docid.doccount }}</td> -->
                        <td>{{ doc.userid.username }}</td>
                        <td>{{ doc.datumtime|date:"d.n.Y @ H:i:s" }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Zgodovina prejetih dokumentov</strong></h3>
            <table id="table_id_upload" class="table display">
                <thead>
                <tr>
                    <th>ID dokumenta</th>
                    <th>Uporabnik</th>
                    <th>Poslano dne</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in user_upload %}
                <tr>
                    <td><a href="{{ doc.id }}" target="_blank">{{ doc.docname }}</a></td>
                    <td>{{ doc.docuser }}</td>
                    <td>{{ doc.doctime|date:"d.n.Y @ H:i:s" }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock content %}
