{% extends 'frontend/base.html' %}
{% load staticfiles %}

{% block content %}
<!-- Dropzone -->
<link href="{% static 'frontend/css/dropzone.css' %}" type="text/css" rel="stylesheet"/>
<script src="{% static 'frontend/js/dropzone.js' %}"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Pošlji dokument</strong></h3>
            {% if messages %}
            {% for message in messages %}
            <div {% if message.tags %} class="alert alert-{{ message.tags }} role='alert'" {% endif %}>{{ message }}
            </div>
            {% endfor %}
            {% endif %}
            <p>V kolikor vam je organ odgovoril pozitivno in ste prejeli dokument, ga prosim posredujte preko te spletne
                strani. Priporočamo, da datoteko poimenujete po št. zadeve, npr. <code>090-2016/01.pdf</code> nato pa
                pritisnite <code>Pošlji dokument.</code> Možno je uporabiti "vleci & spusti" (drag&drop) funkcijo in
                datoteke spustiti v spodnji okvir.
            </p>
            <form id="uploadform" class="dropzone" action="{% url 'upload_file' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="form-group">
                    {{ my_form.docname.errors }}
                </div>
            </form>

            <script type="text/javascript">
            Dropzone.options.myDropzone = {

                // Prevents Dropzone from uploading dropped files immediately
                autoProcessQueue : false,

                init : function() {
                    var submitButton = document.querySelector("#dropzonesubmitbutton")
                    myDropzone = this;

                    submitButton.addEventListener("click", function() {
                        myDropzone.processQueue();
                        // Tell Dropzone to process all queued files.
                    });

                    // You might want to show the submit button only when
                    // files are dropped here:
                    this.on("addedfile", function() {
                        // Show submit button here and/or inform user to click it.
                    });

                }
            };
        </script>
        </div>
        <div class="col-lg-8 col-lg-offset-2">
            <h3><strong>Dokumenti, ki so na voljo
                {% if num_docs %}
                <span class="badge">{{ num_docs }}</span>
                {% else %}
                <span class="badge">{{ 0 }}</span>
                {% endif %}
            </strong></h3>
            <hr>
            {% if all_docs %}
            <table id="table_id_docs" class="table display">
                <thead>
                <tr>
                    <th>Dokument</th>
                    <th>Poslano</th>
                </tr>
                </thead>
                <tbody>
                {% for doc in all_docs %}
                <tr>
                    <td><a href="{{ doc.id }}" target="_blank">{{ doc.docname }}</a></td>
                    <td>{{ doc.doctime|date:"d.n.Y @ H:i:s" }}</td>
                </tr>
                {% endfor %}
            </table>
            {% else %}
            <p>Ni dokumentov.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock content %}
